.card-heading {
    color: #0d6efd;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px #ccc;
}
.main-heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0d6efd;
    text-align: center;
}
.file-upload-display {
    color: green;
    font-weight: bold;
    margin-left: 10px;
}